In [40]:
# import libraries
import numpy as np
import pandas as pd
import re
import string
from collections import defaultdict
import nltk
from nltk.corpus import stopwords
import io
import csv
from pandas import DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [41]:
# read in data and rename columns
df = pd.read_csv('scrapedData.csv')
df.rename(columns = {'Date': 'date'}, inplace = True)
df.drop(columns=['PageCommentNumber'], inplace = True)
df.head()

,date,author,text
0,2004-04-02T13:43:55+00:00,fintail,"This isn't totally new, but I saw my first Sci..."
1,2004-04-02T13:52:23+00:00,andre1969,I saw both a Colorado and a Malibu in DC. I kn...
2,2004-04-02T15:25:54+00:00,lemko,...but I saw a Mazda 3 last week.
3,2004-04-02T15:28:12+00:00,andre1969,"sometimes though, at a quick glance it takes m..."
4,2004-04-02T16:07:00+00:00,PF_Flyer,"Yea, we can have some retroactive sightings to..."

In [42]:
# convert comments column to strings
df['text'] = df['text'].apply(str)
# create a list of the comments
comments = df['text'].tolist()

In [43]:
def get_word_frequency(wordlist):
 
    # create list of words for the comment
    tokens = nltk.tokenize.word_tokenize(wordlist)
    
    # remove duplicate words from comment
    tokens = list(dict.fromkeys(tokens))
 
    # Get list of English stop words
    take_out = stopwords.words('english')
    take_out = [word.upper() for word in take_out]
 
    # Convert each item in tokens to uppercase
    tokens = [word.upper() for word in tokens]
 
    # Filter out stop words from tokens list
    tokens = [word for word in tokens if word not in take_out]
    tokens = [word for word in tokens if word not in string.punctuation]
    tokens = [word for word in tokens if word[0] not in string.punctuation]
 
    # Get word frequency distribution
    word_frequencies = nltk.FreqDist(tokens)
 
    # Sort word frequency distribution by number of times each word occurs
    sorted_counts = sorted(word_frequencies.items() , key = lambda x: x[1] ,
                           reverse = True)
 
    return sorted_counts

In [44]:
# get word frequency across all articles
overall_text = ' '.join(comments)
top_words = get_word_frequency(overall_text)
overall_freq = DataFrame(top_words,columns=['word','count'])
overall_freq.head(10)

      word  count
0    MODEL      4
1  THOUGHT      4
2      LOL      4
3    COULD      4
4      STS      4
5     DUBS      4
6   SMARTS      4
7  BLUETEC      4
8   E-TRON      4
9      NEW      3

In [45]:
# export to csv
overall_freq.to_csv(r'C:\Users\katel\OneDrive\Desktop\Text Analysis\OverallWordFreq.csv', index = False)